@model GameHog.Models.Game

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genres.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hardwares.HardwareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hardwares.HardwareName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stores.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stores.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameAvailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameAvailability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameAvailabilityCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameAvailabilityCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameShippingUSAOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameShippingUSAOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameESRBRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameESRBRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
