@model GameHog.Models.Game

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Developers.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developers.DeveloperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hardwares.HardwareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hardwares.HardwareName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publishers.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publishers.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stores.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stores.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameAvailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameAvailability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameAvailabilityCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameAvailabilityCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameShippingUSAOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameShippingUSAOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameUPCCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameUPCCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameESRBRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameESRBRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
