@model IEnumerable<GameHog.Models.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Developers.DeveloperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genres.GenreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hardwares.HardwareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publishers.PublisherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stores.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameAvailability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameAvailabilityCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameShippingUSAOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameUPCCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameESRBRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Developers.DeveloperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genres.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hardwares.HardwareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publishers.PublisherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stores.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameAvailability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameAvailabilityCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameShippingUSAOnly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameUPCCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameESRBRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameId })
        </td>
    </tr>
}

</table>
